{# templates/_includes/header.html.twig #}

<header>
    <div id="logo-wrapper">
        <h1><a class="logo" href="{{ path('home_page') }}">[logo]</a></h1>
    </div>
    <nav class="main-nav">
        <ul>
            {% if app.user == true %}
                <li><a href="{{ path('products') }}"><i class="fab fa-product-hunt"></i> Products</a></li>
                <li><a href="{{ path('contact_page') }}"><i class="fas fa-envelope-open"></i> Contact</a></li>
                <li><a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            {% else %}
                <li><a href="{{ path('products') }}"><i class="fab fa-product-hunt"></i> Products</a></li>
                <li><a href="{{ path('contact_page') }}"><i class="fas fa-envelope-open"></i> Contact</a></li>
                <li><a href="{{ path('sign_in') }}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <li><a href="{{ path('sign_up') }}"><i class="fas fa-user-plus"></i> Sign up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>