{# templates/_includes/header.html.twig #}

<header>
    <div id="logo-wrapper">
        <h1><a class="logo" href="{{ path('home_page') }}">[logo]</a></h1>
    </div>
    <nav class="main-nav">
        <ul>
            {% if app.user == true %}
                <li><a href="{{ path('contact_page') }}">Contact</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('contact_page') }}">Contact</a></li>
                <li><a href="{{ path('sign_in') }}">Sign in</a></li>
            <li><a href="{{ path('sign_up') }}">Sign up</a></li>
            {% endif %}
        </ul>
    </nav>
</header>