{# templates/product_list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
    <h1>{{ title }}</h1>
    <hr>
    {{ form(form) }}
    <ul>
        {% for product in products %}
            <li><a href="{{ path('product_show', {name: product.name}) }}">{{ product.name }}</a></li>
            {% endfor %}
    </ul>

    {{ dump(products) }}
    {{ dump(products_filtered) }}
{% endblock %}
